/* Super small devices */
@media (max-width: 330px) {
    #header .main-title a {
        font-size: 15px !important;
    }

    .sidenav {
        padding-top: 15px;
    }

}

/* mobile and Super small devices*/
@media (max-width: 739px) {
    #header .main-title a {
        margin: 0 20px;
        font-size: 20px;
    }

    #order-list {
        display: none;
    }

    .tpr-modal {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    .login-button {
        margin-right: 50px;
    }

    .expand-side-nav {
        display: block;
    }

    .text-content .text-heading {
        font-size: 30px;
    }

    .text-content .text-subheading {
        font-size: 20px;
    }

    .illustrate{
        width: 50%;
    }

    .illustrate p{
        text-align:left;
    }

    .embedded-map .map-frame{
        width: 80%;
        height: 300px;
    }

    .booking-section #quantity {
        width: 100%;
    }

    .reserve-content .room-item {
        display: block;
    }

    .reserve-content .room-item img {
        width: 100%;
    }

    .reserve-content .room-item .room-book {
        bottom: 0px;
        left: 32px;
        width: calc(100% - 64px);
        text-align: center;
    }

    .booking-section .col-12+.col-12 {
        padding-top: 32px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header .main-title a {
        margin: 0 30px;
    }

    .text-content .text-heading {
        font-size: 50px;
    }

    .text-content .text-subheading {
        font-size: 40px;
    }

    .embedded-map .map-frame{
        width: 600px;
        height: 450px;
    }

    .room-item .icon i {
        font-size: 140%;
        padding: 4px;
    }


}