* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

.pd12 {
    padding: 12px;
}

.pd8 {
    padding: 8px;
}

.pd16 {
    padding: 16px;
}

.pd32 {
    padding: 32px;
}

.pdt32 {
    padding-top: 32px;
}

.mgtb32 {
    margin: 32px 0;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

#header {
    height: 80px;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    right: 0;
    z-index: 1;
}

#header .attach-logo {
    margin-left: 10px;
    line-height: 80px;
    margin-top: 8px;
}

#header .main-title a {
    display: inline-block;
    text-decoration: none;
    margin: 0 57px;
    font-size: 30px;
    color: #000;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 80px;
}

#order-list {
    display: inline-block;
    line-height: 80px;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    /* margin: 0 57px; */
}

.nav li a {
    padding: 28px 28px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.nav li:hover {
    background-color: #fa9e1b;
}

#lgBtn {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 80px;
    padding: 0 10px;
    cursor: pointer;
}

.nav-login,
.nav-bracket,
.nav-register {
    list-style-type: none;
}

#lgBtn p {
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

#lgBtn p:hover {
    color: orangered;
}

/* .login-button .nav-bracket{
    color: black;
    font-weight: 700;
    text-decoration: none;
} */

.expand-side-nav {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 4;
    right: 0;
    background: linear-gradient(#f6c48b, #ca9fc5);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    margin: 30px 0;
    font-family: Beyond;
    color: #010000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: orangered;
}

.sidenav .closebtn {
    position: absolute;
    top: -75px;
    right: 12px;
    font-size: 80px;
    margin-left: 50px;
}

.drawer {
    position: fixed;
    top: 16px;
    right: 15px;
    z-index: 2;
    float: right;
    display: flex;
}

/*begin: reserve banner */
#rs-banner {
    position: relative;
    margin-top: 80px;
    padding-top: 50%;
    background: url('../img/Banner/travel1.jpg') top center / cover no-repeat, url('/Oval-Rental/img/Banner/travel1.jpg') top center / cover no-repeat;
}

#rs-banner .text-content {
    position: absolute;
    top: 15%;
    text-align: center;
    color: #000;
    width: 100%;
    text-shadow: 0 0 2px #fff;
}

#rs-banner .text-content .text-heading {
    font-size: 6vw;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 4px;
    font-weight: 1000;
}

#rs-banner .text-content .text-subheading {
    font-size: 4vw;
    font-family: Beyond;
    font-weight: 1000;
}

/*end: reserve banner */

/*begin: Main page banner */
#banner {
    position: relative;
    margin-top: 80px;
    /* background: url('../img/Banner/travel1.jpg') top center / cover no-repeat, url('/Oval-Rental/img/Banner/travel1.jpg') top center / cover no-repeat; */
}

#attach-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#banner .text-content {
    position: absolute;
    top: 35%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-shadow: 0 0 2px #fff;
    margin-bottom: 30px;
}

#banner .btn-discover {
    position: absolute;
    top: 180%;
    width: 100%;
}

#banner .get-explore:hover {
    color: black;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
}

.btn-discover .get-explore {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
}

/*end: Main page banner */

.text-content .text-heading {
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 4px;
    font-weight: 1000;
}

#content>div {
    max-width: 90%;
    margin: auto;
}

#content .part-header {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.part-header p {
    text-transform: uppercase;
    letter-spacing: .3125rem;
    font-size: 2rem;
}

.illustrate {
    width: 50%;
    transform: translateX(50%);
    margin-bottom: 48px;
}


#content .illustrate p {
    text-align: center;
    line-height: 1.66;
    letter-spacing: 0.08rem;
}

.desc .possession-list {
    margin: 40px 0;
}

.desc .possession {
    height: 75vh;
}

.desc .possession-img {
    height: 50vh;
    width: 100%;
}

.desc .possession-img {
    display: inline-block;
    height: 50vh;
    width: 100%;
}

.desc .possession-container {
    background-color: #fff;
    height: 20vh;
    bottom: 0;
    width: 100%;
}

.desc .possession-subtitle {
    color: #000;
    text-align: start;
    margin: 20px;
}


.desc .possession-text {
    text-align: center;
    letter-spacing: 2px;
    font-weight: 200;
    font-weight: bold;
    color: rgb(43, 41, 41);
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 2px #fff;
}

.possession-list .possession-button {
    text-transform: uppercase;
    font-size: Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

.possession-list .possession-button:hover {
    background-color: #fa9e1b;
}

.reserve-content .room-item {
    display: flex;
    position: relative;
}

.reserve-content .room-item img {
    width: 70%;
}

.reserve-content .room-item .room-book {
    position: absolute;
    bottom: 30px;
    left: 70%;
    text-decoration: none;
    background-color: #fa9e1b;
    color: #000;
    font-weight: 600;
}

.reserve-content .room-desc-header {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}

.reserve-content .description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6875rem;
    font-weight: 700;
    letter-spacing: .09375rem;
    line-height: 1.6;
}

.reserve-content .room-desc-content {
    padding-right: 32px;
}

.room-item .icon {
    display: flex;
    flex-wrap: wrap;
}

.room-item .icon i {
    font-size: 140%;
    padding: 4px;
}

.reserve-content .room-item .room-book:hover {
    opacity: 0.6;
}

.booking-section {
    background-color: beige;
}

.booking-section .booking-form {
    width: 800px;
    max-width: 90%;
    margin: auto;
}

.booking-section .booking-form .form-btn {
    margin-bottom: 16px;
    background-color: #fa9e1b;
    border: none;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

#modal .modal-login {
    width: 900px;
    max-width: 90%;
    /* display: none; */
    animation: modal-slide-in ease-in 0.5s;
}

#modal .modal-register {
    width: 900px;
    max-width: 90%;
    display: none;
    animation: modal-slide-in ease-in 0.5s;
}

#modal .modal-hd {
    background: linear-gradient(#3f87a6, #ebf8e1);
    display: flex;
    justify-content: center;
    position: relative;
}

#modal .modal-ct {
    margin: 0;
    padding: 16px 32px;
    background-color: #ebf8e1;
}

#modal .modal-ft {
    height: 80px;
    background: linear-gradient(#ebf8e1, #f69d3c);
}

#modal .modal-ft div:first-child {
    display: block;
    float: left;
    text-align: left;
}

#modal .modal-ft div:last-child {
    display: block;
    float: left;
    text-align: right;
}

#modal i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
}

#modal i:hover {
    background-color: red;
}

.modal-slide-out {
    animation: modal-slide-out ease-out 0.5s !important;
}

@keyframes modal-slide-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

/* Bootstrap grid breakpoint:
    -xs (for phones - screens less than 768px wide)
    -sm (for tablets - screens equal to or greater than 768px wide)
    -md (for small laptops - screens equal to or greater than 992px wide)
    -lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/