* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

.pd12 {
    padding: 12px;
}

.pd8 {
    padding: 8px;
}

.pd16 {
    padding: 16px;
}

.pd32 {
    padding: 32px;
}

.pdt32 {
    padding-top: 32px;
}

.mgtb32 {
    margin: 32px 0;
}

.full-width {
    width: 100%;
}

#header {
    height: 80px;
    background-color: rgb(182, 127, 65);
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    right: 0;
    z-index: 1;
}

#header .main-title a {
    display: inline-block;
    text-decoration: none;
    margin: 0 57px;
    font-size: 30px;
    color: #000;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 80px;
}

#order-list {
    display: inline-block;
    line-height: 80px;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    /* margin: 0 57px; */
}

.nav li a {
    padding: 28px 28px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.nav li:hover {
    background-color: #fa9e1b;
}

.search-button {
    float: right;
    position: absolute;
    right: 0;
    line-height: 80px;
}

.search-button .nav-search {
    color: #fff;
    font-size: 24px;
    padding: 28px;
}

.search-button .nav-search:hover {
    color: red;
}

#banner {
    position: relative;
    margin-top: 80px;
    padding-top: 50%;
    background: url('/assets/img/Banner/travel1.jpg') top center / cover no-repeat;
}

#banner .text-content {
    position: absolute;
    top: 15%;
    text-align: center;
    color: #000;
    width: 100%;
    text-shadow: 0 0 2px #fff;
}

.text-content .text-heading {
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 4px;
    font-weight: 1000;
}

.text-content .text-subheading {
    font-size: 60px;
    font-family: Beyond;
    font-weight: 1000;
}

#content>div {
    max-width: 90%;
    margin: auto;
}

#content .part-header {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.reserve-content .room-item {
    display: flex;
    position: relative;
}

.reserve-content .room-item img {
    width: 70%;
}

.reserve-content .room-item .room-book {
    position: absolute;
    bottom: 30px;
    left: 70%;
    text-decoration: none;
    background-color: #fa9e1b;
    color: #000;
    font-weight: 600;
}

.room-item .icon i {
    font-size: 140%;
    padding: 8px;
}

.reserve-content .room-item .room-book:hover {
    opacity: 0.6;
}

.booking-section {
    background-color: beige;
    margin-top: 32px;
}

.booking-section .booking-form {
    width: 800px;
    max-width: 90%;
    margin: auto;
}

.booking-section .booking-form .form-btn {
    background-color: #fa9e1b;
    border: none;
}


/* Boostrap grid breakpoint:
    -xs (for phones - screens less than 768px wide)
    -sm (for tablets - screens equal to or greater than 768px wide)
    -md (for small laptops - screens equal to or greater than 992px wide)
    -lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/